@media screen and (min-width:768px) and (max-width: 992px){
    body{
        position: relative;
        background-color: #ffffff;
    }
    .main{
        position: absolute;
        width: 90vw;
        height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        background-color: #6f6fa9;
    }
}